
body{
    --bg:#16171c;
    --blue:#1c1e24;
    --txt:#8b909b;
    --link:#abb2bf;
    --main:#e0ba23;

    background-color:var(--blue);
    color:var(--txt);

    font: 1rem/1.5 Arial, Helvetica, sans-serif;
}

html, body{
    margin:0;
    padding:0;
}

a{
    color:var(--link);
    text-decoration: none;
}

a:hover{
    color:var(--main);
}

.header-buttons{
    list-style-type: none;
}

.header-buttons li{
    display:inline;
    font-size: 1.4rem;
    padding: .4rem .6rem;
}

.header-buttons .current{
    color:var(--main);
}

#showcase {
    width: 80%;
    margin: 0 5%;
    padding: 2rem 5%;
    background-color:var(--bg);
    box-shadow: 0 2px 16px rgba(0,0,0,.3);
}

#showcase .grid {
    position:relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, 14rem);
    grid-gap: 2rem;
    justify-content: space-between;
}

#showcase .grid .item {
    position:relative;
}

#showcase .grid .item img {
    width:100%;
    opacity:1;
    transition: .22s all;
}

#showcase .grid .item span {
    position:absolute;
    width:75%;
    top:50%;
    left:50%;
    text-align:center;
    transform:translateX(-50%) translateY(-50%);
    font-weight:bold;
    color:var(--main);
    opacity:0;
    transition: .22s all;
}

#showcase .grid .item:hover {
    cursor:pointer;
}

#showcase .grid .item:hover img {
    opacity:.33;
}

#showcase .grid .item:hover span {
    opacity:.33;
    opacity:1;
}
