body {
    overflow-x: hidden;
}

.top-info {
    display: flex;
    padding-bottom: 2rem;
    padding-top: 3rem;
    width: 75%;
    margin: 0 auto;
    max-width: 50rem;
    justify-content: space-between;
}

.top-info #title {
    font-size: 3rem;
    color: var(--htxt);
}

.top-info .date {
    font-size: 2rem;
    color: var(--txt);
}

.article {
    font-size: 1.2rem;
    width: 1000px;
    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
    background-color: var(--dark);
    box-shadow: 0 5px 17px -3px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    position: relative;
}

.article .wrapper {
    width: calc(100% - 4rem);
    height: 100%;
    margin: auto;
}

.article .image {
    align-self: center;
    text-align: center;
    position: relative;
}

.article .image img {
    max-width: 100%;
    /* TODO: This is a pretty hacky solution for centering images. Fix later */
    margin-left: 50%;
    transform: translateX(-50%);
}

.article .title, .article h1, .article h2, .article h3 {
    color: var(--htxt);
    font-weight: lighter;
}
.article h3 {
  list-style-type: disc;
  list-style-position: inside;
}

@media (max-width: 900px) {
    .article {
        padding: 1rem 0;
        width: 100%;
        max-width: 100%;
        border-radius: 0;
    }
}

@media (max-width: 748px) {

    .navigate-end {
        margin: 0;
        width: auto;
        padding: 2rem 1rem;
    }

    .article .wrapper {
        margin: 0;
        width: auto;
        padding: 0 1rem;
    }

    .article ul {
        padding-left: 1.3rem;
    }

    .navigate-end .middle {
        width: 2rem;
    }

    .navigate-end .title {
        font-size: 1.1rem;
    }

    .article {
        font-size: 1rem;
        line-height: 1.7;
    }

    .article code.hljs {
        padding: .2rem .4rem;
        font-size: 0.9rem;
    }

    .article pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
    }
}
