
#docs {
    max-width: 80%;
    margin: 2rem auto;
}

#docs .name {
    font-size: 1.5rem;
    color: var(--button);
}

#docs .doc{
    margin-bottom:2rem;
    background-color:var(--bg);
    border-radius: .6rem;
    padding: 1.4rem 2rem;
    box-shadow: 0 2px 14px 1px var(--bg);
}

#docs .doc>div/*:not(:last-child)*/{
    margin-bottom:1rem;
}

#docs .doc .title{
    font-size: 1.3rem;
    margin-bottom: .3rem;
}
