
body{
    --bg:#16171c;
    --blue:#1c1e24;
    --txt:#8b909b;
    --link:#cbd0db;
    --white:#ffffff;
    --main:#e0ba23;
    --button:#42ab76;
    --buttondk:#227356;

    background-color:var(--blue);
    color:var(--txt);

    font: 1rem/1.5 Arial, Helvetica, sans-serif;
}

html, body{
    margin:0;
    padding:0;
}

.background-image{
    position: fixed;
    z-index:-1000;
    opacity: .1;
    min-width:100%;
}

.hidden{
    display:none;
}

a, .link{
    color:var(--link);
    text-decoration: none;
    transition:.14s all;
    cursor:pointer;
}

a:hover, .link:hover{
    color:var(--white);
}

/* floating menu (eg. options) */

.floating-menu{
    cursor:default;
    position:absolute;
    width:13rem;
    padding:.5rem 1rem;
    border-radius: 5px;
    box-shadow:0 2px 16px rgba(0,0,0,.2);
    background-color:var(--bg);
}

.floating-menu .title {
    text-align:center;
    padding-bottom:.3rem;
    margin-bottom:.6rem;
    border-bottom: 2px solid var(--blue);
}

.floating-menu .option{
    padding:.4rem 1rem;
    font-size:1.1rem;
}

.floating-menu .option .switch{
    float:right;
}

.floating-menu .option.message{
    font-size:.7rem;
    color:var(--txt);
}

/* switch */

.switch {
    position:relative;
    display:inline-block;
    width:46px;
    height:25px;
}

.switch input {
    opacity:0;
    width:0;
    height:0;
}

.switch .slider {
    position:absolute;
    cursor:pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    border-radius:13px/12px;
    border:2px solid var(--button);
    -webkit-transition: .24s;
    transition: .24s;
}

.switch .slider:before{
    content:"";
    position:absolute;
    height:17px;
    width:17px;
    left:2px;
    bottom:2px;
    border-radius:50%;
    background-color:var(--button);
    -webkit-transition: .24s;
    transition: .24s;
}

.switch input:checked + .slider {
    background-color:var(--buttondk);
}

.switch input:focus + .slider{
    box-shadow: 0 1px 3px rgba(4,2,14,.5);
}

.switch input:checked + .slider:before{
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

/* header */

header {
    padding:0 8%;
    width:84%;
    border-bottom: 1px solid var(--bg);
}

header .elm.title{
    font-size:1.4rem;
    padding-right:56px;
}

header .logo{
    width: 4rem;
    height:4rem;
    position:absolute;
    top:.5rem;
    transform:translateX(-100%);
}

#options .fa-cog{
    transition:.2s all;
    z-index:200;
    transform:rotate(0);
}

#options:hover .fa-cog{
    color:var(--link);
    transform:rotate(90deg);
}

.header-buttons{
    padding: 1.4rem 0;
    display:flex;
    justify-content:space-between;
}

.header-buttons a,
.header-buttons .link {
    color:var(--txt);
}


.header-buttons a:hover,
.header-buttons .link:hover {
    color:var(--link);
}

.header-buttons .elm{
    display:inline;
    font-size: 1.4rem;
    margin: 2rem 1rem;
}

.header-buttons .current{
    color:var(--main);
}

/* showcase news above tutorials grid */

#showcase {
    margin: 2rem auto;
    display:flex;
    justify-content: space-around;
}

#showcase .colon{
    font-size:1.6rem;
    width:33%;
    text-align:right;
    padding-right:1rem;
}

#showcase .content{
    max-width:60%;
    display:flex;
    padding: 0 1rem;
    border-left:  1px solid var(--bg);
    border-right: 1px solid var(--bg);
}

#showcase .content .title{
    font-size:1.6rem;
}

#showcase .date{
    padding: .5rem 1rem;
    width:33%;
}

/* tutorials grid */

#tutorials {
    width: 80%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 2rem 2.4rem;
    background-color:var(--bg);
    box-shadow: 0 2px 13px rgba(0,0,0,.2);
    border-radius: 7px;
}

#tutorials .grid {
    position:relative;

    display: grid;
    grid-template-columns: repeat(auto-fill, 12rem);
    grid-gap: .6rem;
    justify-content: space-between;
}

#tutorials .grid .item {
    position:relative;
}

#tutorials .grid .item img {
    width:100%;
    opacity:1;
    box-shadow: 0 2px 16px rgba(0,0,0,.5);
    transform:scale(1);
    transition: .22s all;
    background-color:var(--blue);
}

#tutorials .grid .item span {
    position:absolute;
    width:80%;
    top:50%;
    left:50%;
    text-align:center;
    transform:translateX(-50%) translateY(-50%);
    font-weight:bold;
    color:var(--main);
    font-size:1.3rem;
    opacity:0;
    transition: .22s all;
}

#tutorials .grid .item:hover {
    cursor:pointer;
}

#tutorials .grid .item:hover img {
    opacity:.28;
    box-shadow: 0 3px 17px rgba(0,0,0,.7);
    transform:scale(1.07);
    filter:blur(2px);
}

#tutorials .grid .item:hover span {
    opacity:1;
}
