body {
    --dark: #f5f6f7;
    --back: #ffffff;
    --search: #e9eaea;
    --txt: #585a65;
    --ftxt: #b2b4c2;
    --link: #e0ba23;
    --hov: #f0da36;
}

.background-image {
    opacity: .04;
}

.background-image:not(.repeat) {
    opacity: .2;
    filter: invert(100%);
}
